# Node modules
node_modules/

# Nested project node_modules (if any)
SPOTFY/node_modules/

# Log files
npm-debug.log*
 yarn-debug.log*
 yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
